<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-info fw-bold" [routerLink]="['/dashboard']">
            <i class="bi bi-gear-fill me-2"></i> Sistema de Gestión Elektra
        </a>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                    <a class="nav-link text-success fw-bold" [routerLink]="['/sales']">
                        <i class="bi bi-cash-stack me-1"></i> Ventas
                    </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="inventarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-box-seam me-1"></i> Inventario
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="inventarioDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/parts']">Repuestos</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/categories']">Categorías</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" [routerLink]="['/suppliers']">Proveedores</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people-fill me-1"></i> Gestión
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/customers']">Clientes</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/users']">Usuarios del Sistema</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        
        <div class="d-flex align-items-center">
            @if (login.isAuth){
                <span class="nav-item text-light me-3">
                    Hola, {{ login.user.username }}
                </span>
                <button (click)="handlerLogout()" class="btn btn-outline-danger">
                    Logout
                </button>
            } @else {
                <a class="btn btn-primary" [routerLink]="['/login']">Sign In</a>
            }
        </div>

    </div>
</nav>